body {
  font-family: 'Open Sans';
  height: 100%;
  background: #F9F9F9;
}

a {
  cursor: pointer;
}

button {
  outline-color: transparent !important;
}

button + button {
  margin-left: 10px;
}

.screen-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;

}
